<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-rollbar-index") %>>
            <a href="/docs/providers/rollbar/index.html">Rollbar Provider</a>
        </li>

        <li<%= sidebar_current("docs-rollbar-datasource") %>>
        <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-rollbar-datasource-project-access-tokens") %>>
                    <a href="/docs/providers/rollbar/d/project_access_tokens.html">rollbar_project_access_tokens</a>
                </li>

                <li<%= sidebar_current("docs-rollbar-datasource-team") %>>
                    <a href="/docs/providers/rollbar/d/team.html">rollbar_team</a>
                </li>

                <li<%= sidebar_current("docs-rollbar-datasource-user") %>>
                    <a href="/docs/providers/rollbar/d/user.html">rollbar_user</a>
                </li>
            </ul>

        <li<%= sidebar_current("docs-rollbar-resource") %>>
        <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-rollbar-resource-pagerduty-integration") %>>
                  <a href="/docs/providers/rollbar/r/pagerduty_integration.html">rollbar_pagerduty_integration</a>
                </li>

                <li<%= sidebar_current("docs-rollbar-resource-pagerduty-notification-rule") %>>
                  <a href="/docs/providers/rollbar/r/pagerduty_notification_rule.html">rollbar_pagerduty_notification_rule</a>
                </li>

                <li<%= sidebar_current("docs-rollbar-resource-project") %>>
                  <a href="/docs/providers/rollbar/r/project.html">rollbar_project</a>
                </li>

                <li<%= sidebar_current("docs-rollbar-resource-project-access-token") %>>
                  <a href="/docs/providers/rollbar/r/project_access_token.html">rollbar_project_access_token</a>
                </li>

                <li<%= sidebar_current("docs-rollbar-resource-team") %>>
                  <a href="/docs/providers/rollbar/r/team.html">rollbar_team</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
